name: CI/CD Pipeline DevCalc

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      run_tests:
        description: 'Deseja rodar os testes unitários?'
        default: true
        type: boolean
      run_lint:
        description: 'Deseja rodar a análise de lint?'
        default: true
        type: boolean

jobs:
  # Chamada do workflow modularizado
  quality-check:
    uses: ./.github/workflows/lint-and-test.yml
    with:
      # Se for manual, usa o input. Se for push, assume 'true' por padrão.
      run_tests: ${{ github.event.inputs.run_tests != 'false' }}
      run_lint: ${{ github.event.inputs.run_lint != 'false' }}

  build:
    runs-on: ubuntu-latest
    needs: quality-check
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean compile

  package:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Package JAR
        run: mvn package -DskipTests

  deploy:
    runs-on: ubuntu-latest
    needs: package
    steps:
      - name: Simulate deployment
        run: echo "Deploy realizado com sucesso!"